#hero {
	background: #1d4873;
	.fa-cloud {
		color: #bed3e7;
	}

	.sky .fa {
		color: #ff9;
		&.fa-circle {
			color: #ffc;
			&:before {
				content: "\263e"; //HTML entity for crescent shape
			}
		}
	}
}
