#hero {
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #52a2f7;
	* {
		position: relative;
		z-index: 1;
	}

	.sky {
		.fa {
			position: absolute;
			top: 5vh;
			color: transparent;
		}
		.fa-circle {
			font-size: 160px;
			left: 25vw;
			bottom: 79vh;
			color: transparent;
		}
	}

	.clouds {
		opacity: 0.79;
		position: relative;
		height: 200px;
		max-height: 32vh;
		.fa-cloud {
			font-size: 160px;
			opacity: 0.95;
			position: absolute;
			bottom: 0;
			margin: -0.3em;
			animation: 34s l2r2l infinite;
			text-shadow: 1px 1px 5pc rgba(0,0,0,0.25);
		}

		#cloud1 {
			font-size: 340px;
			animation-duration: 38s;
			right: 16vw;
		}

		#cloud2 {
			animation-duration: 23s;
			font-size: 250px;
			left: 7vw;
		}

		#cloud3 {
			animation-duration: 25s;
			right: 7vw;
		}

		#cloud4 {
			animation-duration: 29s;
			font-size: 110px;
			right: 38vw;
		}

		#cloud5 {
			left: 25vw;
		}
	}

	.characters {
		max-width: 880px;
		margin: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.character {
		margin: auto;
		width: 250px;
		position: absolute;
		bottom: 0;
		right: 23%;
		&.pootle {
			right: auto;
			left: 29%;
			width: 160px;
		}
	}
	h1.pp-supp {
		margin: 0;
		text-align: center;
		color: #fff;
		font-size: 70px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 2px rgba(0,0,0,0.5);
		.scroll-down {
			height: 56px;
			width: 56px;
			margin: 7vh 0;
			cursor: pointer;
			border: 1px solid;
			color: #fff;
			border-radius: 99px;
			padding: 14px 11px 11px;
			font-size: 32px;
		}
	}
}

#hero ~ .col-full {
	padding: 2em;
	position: relative;
	max-width: 880px;
	margin: 124vh auto 0;
	box-sizing: border-box;
}

.content {
	background: rgba(255, 255, 255, 0);
	padding: 25px;
}