@media (max-width: 760px) {
	.content h1.pp-supp {
		font-size: 50px;
		+ p {
			font-size: 16px;
		}
	}
	#hero {
		#cloud1, #cloud2 {
			display: none;
		}
		.character.wilson {
			width: 160px;
			right: 25px !important;
		}
		.character.pootle {
			left: 70px !important;
			width: 106px;
		}
		~ .col-full {
			padding: 0;
			.content {
				background: #fff !important;
			}
		}
	}
}

// JS mobile detection
.mobile-detected {
	.content {
		background: #fff;
	}
}